@charset "UTF-8";

:root{
    --pink-dark: #E15079;
    --pink-light: #DA4E72;
    --green-dark: #2EA690;
    --green-light: #34B1A1;
    --brown-light: #BA9556;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header img {
    height: 15vh;
}
menu ul{
    display: flex;
    margin-left: 50px;

}
menu ul li a {
    text-decoration: none;
}